{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block core %}

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for post in posts %}

          <p>
              <strong><a href="{% pageurl post %}">{{ post.title }}</a></strong><br />
              <small>Revised: {{ post.latest_revision_created_at }}</small><br />
              {% if post.author %}
                <p>By {{ post.author.profile }}</p>
              {% endif %}
          </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}